<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzw.dao.DemoDao">
    
    <select id="query" parameterType="java.lang.Long" resultType="java.lang.Long">
        select score from bilibili_db.user where id =#{id}
    </select>

    <select id="getNameByID" parameterType="java.lang.Long" resultType="java.lang.String">
        select name from bilibili_db.user where id =#{id}
    </select>

    <select id="getAll" parameterType="java.lang.Long" resultType="java.util.Map">
        select * from bilibili_db.user where id =#{id}
    </select>

    <select id="getTime" parameterType="java.lang.Long" resultType="java.util.Date">
        select creatTime from bilibili_db.user where id =#{id}
    </select>

    <select id="getScoreByName" parameterType="java.lang.String" resultType="java.lang.Integer">
        select score from bilibili_db.user where name =#{name}
    </select>

</mapper>